[Unit]
Description=ApocPi X
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
ExecStart=/bin/bash /home/pi/apocpi/startScreen.sh
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=graphical.target

